# PostgreSQL Neon Connection
DATABASE_URL=postgresql://neondb_owner:npg_L6kjf7KotVlT@ep-curly-fire-b4xkww93-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Server Configuration
PORT=3001
JWT_SECRET=supernova_auth_jwt_secret_key_2026_super_secure!
NODE_ENV=development

# Frontend API URL
VITE_API_URL=http://localhost:3001
